/* @font-face {
  font-family: "PT Sans Narrow";
  src: url('../fonts/PT Sans/PTSans-Regular.ttf');
}    */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 30px;
  line-height: 42px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  /* padding: 0 10px; */
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden, /* form-control */
input[type="radio"].visually-hidden {  /* form-control */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.logo {
  width: 368px;
  height: 153px;
  margin: 0 auto;
  margin-top: 60px;
}

.main-header {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #000;
  background-attachment: fixed;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigatin-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000;
}

.main-navigatin-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  max-width: 140px;
  margin: 0;
  padding: 0;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #fff;
  display: block;
  padding: 25px 20px;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
} 

.user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}

.login-link::before {
  background: url("../img/svg/login.svg") no-repeat;
  position: absolute;
  top: 27px;
  left: 24px;
  content: "";
  width: 16px;
  height: 18px;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.wrapper {
  background: url("../img/Layer.png") top center repeat #000;
  padding-top: 60px;
  padding-bottom: 70px; 
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin:  0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 40px;
}

.features-item {
  padding-left: 20px;
  padding-right: 20px;
}

.features-title {
  position: relative;
  margin: 0 0 50px;
}

.feature-item h3 {
  margin: 0;
  margin-bottom: 60px;
  position: relative;
}

.features-item h3::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.feature-item p {
  margin: 0 10px;
}

.articles {
  width: 380px;
}

.index-collumns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  color: #000;
  background-image: url("../img/Line.png"),
                    url("../img/pattern-light.jpg");
  background-position: center, 0 0;                  
  background-color: #f8f5f2;
  background-repeat:no-repeat, repeat;
  margin-top: 80px;
}

.index-collumns h2 {
  margin: 0;
  margin-bottom: 25px;
}

.news {
  width: 390px;
}

.news-list {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-right: 35px;
}

.news-item p {
  margin: 0;
}

.news-item {
  margin-top: 15px;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  height: 164px;
  background-color: #ccc;
  border: 7px solid #fff;
  margin: 0;
  padding: 0;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery {
  width: 300px;
}

.gallery-footer {
  margin-top: 40px;
}

.gallery-container {
  position: relative; 
  height: 260px;
}

.gallery-button {
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  /* position: absolute; */
  /* bottom: 0; */
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.button + .button {
  margin-left: 16px; 
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.contacts {
  color: #000;
  background-image: url("../img/Line.png"),
                    url("../img/pattern-light.jpg");
  background-position: center, 0 0;                  
  background-color: #f8f5f2;
  background-repeat:no-repeat, repeat;
  margin-top: 35px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.contacts-list {
  width: 380px;
}

.contact-list-footer a {
  box-sizing: border-box;
}

.appointment input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000;
}

.form-col {
  width: 140px;
}

.form-col label {
  display: block;
  margin: 9px;
  padding: 3px;
}

.form-col input {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
}

.full-fit {
  width: 300px;
}

.button-submit {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment input:focus {
  border-color: #663d15;
}

.appointment {
  width: 300px;
}


/* FOOTER */

.main-footer {
  padding: 60px 0;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-image: url("../img/pattern-dark.jpg");
  background-color: #212121;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.footer-social b {
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  color: #fff;
  background-color: #000;
}

.social-button:hover,
.social-button:focus {
  background-color: #fff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000;
}

.footer-copyright {
  text-align: center;
  width: 150px;
  margin: 0;
  margin-left: auto;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000;
  background-color: #fff;
}

.form-control {
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

 /* MODAL */

.modal {
  position: fixed;
  color: #000;
  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 2;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-login {
  top: 120px;
  left: 50%;
  width: 300px;
  padding: 50px 80px;
  margin-left: -230px;
}

.modal-login input:focus {
  border-color: #663d15;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-description {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}

.modal-group {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}

.login-form .form-control,
.login-form .form-control {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  color: #000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-icon-user {
  background-image: url("../img/user.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background: url("../img/lock.svg") 270px center no-repeat;
}

.login-help {
  font-size: 14px;
}

.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.restore {
  color: #000;
  text-decoration: underline;
}

.modal-map {
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  width: 766px;
  height: 561px;
  background: url("../img/Map.jpg") no-repeat;
  border: 7px solid white;
}